body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #FAFAFA;
}

main {
    padding-bottom: 2em;
}

h1, h2, h3, p, nav {
    margin: 0;
}

button {
    border: none;
    background: none;
    font-family: inherit;
}

/* header */
header {
    background-color: rgba(255, 255, 255, 0.913);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.subheader {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.logo {
    height: 2rem;
    border-radius: 50%;
}
.header-title {
    color: #0E0E0E;
    font-size: 1rem;
    font-weight: 700;
}

/* //////////// */

/* overview featured */
.post-featured {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply; /* Darkens the image */
    background-color: rgba(0, 0, 0, 0.5); /* Control the darkness */
    padding: 4em 1em 1.25em 1em;
}

.post-title-main {
    font-size: 2rem;
}

.post-title-main,
.post-featured .post-date,
.post-featured .post-content {
    color: white;
}
/* //////////// */

/* pre-view */
.post-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em;
}


.center {
    text-align: center;
}

.post-img {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
}
.post-date {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 1em;
}

.post-title, .post-title-main, .post-article-title  {
    font-weight: 800;
    margin: 0.4em 0;
}
.post-title {
    color: #151515;
    font-size: 1.3rem;
}

.post-content {
    color: #505050;
    font-size: 1rem;
    font-weight: 400;
}  
/* //////////// */

/* post itself */
.article, .post-container {
    margin: 1em 1em;
}

.article .post-img {
    margin: 1.5em 0;
}

.post-article-title {
    color: #151515;
    font-size: 2rem;
}

.post-content-title {
    color: #151515;
    font-weight: 800;
    font-size: 1rem;
    margin: 1.5em 0 0.7em 0;
}


/* burger */
.burger {
    position: fixed;
    text-align: right;
    z-index: 999;
    top: 0;
    left: 0px;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.485);
    backdrop-filter: blur(2rem);
    box-shadow: #0E0E0E 0px 0px 20px;
    width: 70%;
    transform: translateX(0%);
    transition: transform 0.25s, box-shadow 1s;
}

/* es el fondo invisible, para que el usario no pueda interacuar con el main content */
.burger-overlay {
    position: fixed;
    z-index: 1;
    inset: 0;
}

.btn-burger, .btn-x {
    font-size: 0.8rem;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.btn-burger {
    border: 1px solid rgb(191, 191, 191);
    transition: background-color 0.3s;
}
.btn-burger:hover {
    background-color: rgb(244, 244, 244);
}

.btn-x {
    margin: 0.5em;
    background: #828282a7;
    color: #c3c3c3;
    transition: color 0.5s;
}
.btn-x:hover {
    color: rgb(255, 255, 255);
}


/* burger nav */
ul {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    color: #090909;
    
    list-style: none;
    padding: 0;
}



.header-btn {
    text-align: left;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    padding-bottom: 0.5em;
    border-bottom: #505050 1px solid;
}
.header-btn i {
    color:#1a1a1a;
    width: 20px;
    padding-left: 1em;
    margin-right: 0.5em;
}

.btns-burger-desktop {
    display: none;
}

.hide {
    transform: translateX(-102%);
    box-shadow: none;
}

.overflow {
    overflow: hidden;
}

.pfpic {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.padding-bottom {
    padding-bottom: 2rem;
}

footer {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    padding: 3em 0;
    color: #FAFAFA;
    background-color: #202020;
}

.footer-title {
    font-weight: 600;
}

.footer-subtitle {
    font-size: 0.8rem;
    font-weight: 200;
    font-style: italic;
}

@media (min-width: 700px) {
    .post-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 2em 2em 0 ;
    }

    .pfpic-and-title-div {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .article {
        margin:  auto;
        max-width: 750px;
        padding: 1.5em 5em 0;
    }

    header {
        height: 3rem;
    }

    .post-featured {
        padding-top: 6em;
    }

    .post-title-main {
        font-size: clamp(2rem, 5vw, 3.5rem);
    }

    .post-article-title {
        font-size: clamp(2rem, 5vw, 2.5rem);
    }

    .btn-burger, .burger {
        display: none;
    }

    .btns-burger-desktop {
        display: block;
    }

    ul {
        gap: 2rem;
        flex-direction: row;
        margin: 0;
        
    }

    .header-btn {
        position: relative;
        padding: 0;
        border-bottom: none;
        transition: scale 0.5s;
    }
    .header-btn::before {
        position: absolute;
        content: "";
        bottom: -5px;
        left: 50%;
        background-color: rgb(26, 26, 26);
        width: 60%;
        height: 2px;
        transform: translateX(-50%) scale(0);
        transition: transform 0.3s ease-in-out
    }

    .header-btn:hover {
        scale: 1.08;
    }
    .header-btn:hover::before {
        transform: translateX(-50%) scale(1);
    }
}